# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# macOS
.DS_Store

# VS Code
.vscode/

# PyCharm
.idea/

# Python Distribution
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Dataset downloads
src/data/

# Model checkpoints
src/checkpoints/

# Generated outputs
src/outputs/

# Python environment variables
.env